<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mobile Automation Test Suite" verbose="1">
    
    <parameter name="platform" value="android"/>
    <parameter name="execution.type" value="local"/>
    
    <listeners>
        <listener class-name="com.automation.listeners.TestListener"/>
    </listeners>
    
    <test name="Smoke Tests" preserve-order="true">
        <parameter name="tags" value="@smoke"/>
        <classes>
            <class name="com.automation.runners.TestRunner"/>
        </classes>
    </test>
    
    <test name="Regression Tests" preserve-order="true">
        <parameter name="tags" value="@regression"/>
        <classes>
            <class name="com.automation.runners.TestRunner"/>
        </classes>
    </test>
    
</suite>
